/*	Typography
*/

/*	Theme style happening here I guess */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color-black; 

}

h1, h2, h3 {
	font-family: $sans-serif-font;
	font-weight: 900
}

h1 {
	font-size: 3em; 
}

h4, h5, h6 {
	font-family: $serif-font;
	font-weight: 700; 
}

h4 {
	font-size: 1.5em;
}

p {
	color: $color-gray; 
	font-family: $sans-serif-font;
	font-size: 1em; 
	line-height: 1.25em;
	margin-top: 0em;
	margin-bottom: 0em;
}

nav {
	color: $color-black; 
	font-family: $sans-serif-font;
	font-weight: 400;
}

dt {
	color: $color-gray;
	font-family: $sans-serif-font;
	margin-bottom: .5em; 
}

dd {
	color: $color-black;
	font-family: $sans-serif-font;
	margin-bottom: 2em; 
}

/*	Content styles happening in here */

body main {
	h2 {
		color: $color-black; 
		font-size: 2.4em;
		margin: 1em 0; 
	}

	h3 {
		color: $color-gray;
		font-size: 1.5em;
		margin: .75em 0; 
	}

	p, ol, ul {
		font-family: $serif-font;
		font-size: 1.5em; 
		line-height: 1.25em;
		margin: 0 0 1em;
	}

	ol, ul {
		margin-left: 1em; 
	}

	li {
		margin-bottom: .5em;
	}
}

@media all and (min-width: 900px) {
	dl {
		margin-top: 3em; 
	}
}

@media all and (min-width: 1200px) {
}