/*	_variables.scss 
*/

$sans-serif-font: "Work Sans", sans-serif;
$serif-font: "Neuton", serif; 

$color-black: #222222;
$color-gray: #585858;
$color-yellow: #ffcc00;
$color-light-yellow: #ffe899; 
$color-light-gray: #d8d8d8;
$color-lighter-gray: #f0f0f0;
$color-white: #ffffff;